@charset "utf-8";
/* CSS Document */


body{
	margin:0;
	padding:0;
 font-family: 'Open Sans', sans-serif;
line-height: 20px;

font-size: 15px;
-webkit-text-size-adjust: 100%;
	}
/* CSS header */

.prices{
	margin-left:25px;
	margin-right:25px;
	margin-top:50px;
	margin-bottom: 50px;
}

.testim1 img{
	margin-right:5px;
	margin-bottom:5px;
}

.pricepopular{
	width: 38%;
	border: 7px solid #F60;
	padding-top: 20px;
	padding-bottom: 20px;
}
.priceregulr{
	width: 31%;
	border: 2px solid #999;
	margin-top:20px;

}

.pricepopular_single{
	width: 50%;
	border: 7px solid #f60;
	padding-top: 20px;
	padding-bottom: 20px;
}
.priceregulr_single{
	width: 50%;
	border: 2px solid #999;
	margin-top:20px;

}

.red{
	color:#C00;
}

.highlight{
	color:#FFF;
	padding-top:10px;
	padding-bottom:10px;
}

.hs_section h1{
	line-height: normal;
	}

.priceleft{
	border-right: none;
}
.priceright{
	border-left:none;
}

#order{
	text-align:center;
	margin:70px;
}

.btn-danger{
	background-color: #6E931C;
	border-color:#6E931C;
}

.panel-footer{
	background-color: #FFF;
}

.panel{
	box-shadow:none;
}

h1{
	font-size:40px;
}

.fefeatures p{
	border-bottom:1px solid #093;
	margin-bottom:23px;
	padding-bottom:23px;
}

.fefeatures img{
	margin-right: 30px;
	margin-top:4px;
}



.bonus1 img{
	margin-right: 20px;
	margin-bottom:20px;
	
}

.bonusinner{
	font-size:19px;
	line-height: normal;
	 width:80%;
}

.bigger{
	font-size:19px;
	line-height: normal;
	 width: 1200px;
	 margin-top:35px;
	 
}

.hs_white_section2{
	font-size:19px;
	line-height: normal;
	border-bottom:1px solid #CCC;

}

.contactb{
	line-height:60px;
}

.wf-button{
	margin-top:12px;
	background-color:#F4B228;
	color: #000;
text-align: center;
text-transform: capitalize;
width: 100%;
border-radius: 10px;
border: 2px solid #FFDB6E;
overflow: hidden;
background: #FFC003;
margin: 30px 0px 40px 0px;
padding: 12px;
font-size: 28px;
font-weight:bold;
}

.wf-input{
	font-size: 28px;
	padding: 9px ;
	border-radius: 10px;
border: 2px solid #C00;
}

.incontent{
	margin-top:40px;
	margin-bottom:40px;
}

.yellow{
	background-color:#FFF433;
}

.hs_header{
	background:#000;
        float:left;
       width:100%;
padding: 25px 0px;
	}
.hs_logo {
color: #fff;
padding: 0px;
font-size: 38px;
text-align: center;
float: left;
width: 100%;
font-weight: bold;
	}
/* first section */
.hs_section{

	background-color:lightblue;
        padding: 25px 0px 40px;
      float:left;
       width:100%;
	}


.hs_section2{
	background-color:  #FFF;
        padding: 25px 0px 40px;
      float:left;
       width:100%;
	}
		/* first section content */
	.hs_section_timer{
	background:#fff;
        padding: 25px 0px 12px;
      float:left;
       width:100%;
	}
.hs_section_timer_con{
line-height: 40px;
color: #000;
text-align: center;
padding: 15px 0px 10px;
font-size: 30px;
}
.hs_section_timer_con p{
text-align:center;
}
.hs_section_timer_test{
padding:0px 0px;}
.hs_section_timer_test h2{
font-size: 2.4em;
font-weight: 400;
text-align: center;
line-height: 50px;
color:#000;
letter-spacing: -1px;
}
/*  section content */

.hs_section_timer_test_one{
padding:0px 0px;
}
.hs_section_timer_test_one p{
font-size: 18px;
font-weight: 400;
color: #444;
padding:12px 0px;
}
.hs_section_timer_test_two{
padding: 30px 0px;
}
.hs_section_timer_test_two p{
font-size: 18px;
font-weight: 400;
color: #444;
padding:0px 0px;
}
.hs_section_timer_test_three{
padding: 30px 0px;
}
.hs_section_timer_test_three img{
padding: 30px 0px;
}
.hs_section_timer_test_three p{
font-size: 18px;
font-weight: 400;
color: #444;
padding: 10px 0px;
}
.hs_section_timer_test_one h2{
text-align:left;
color:#000;
}
/*  section content */
.hs_section_con span {
color: #FFED39;
	}
	/* first section content */
.hs_section_con{
      line-height:60px;
font-weight:600;
font-size:4em;
text-align: center;
padding: 15px 0px;
font-size:51px;
}
.hs_section h3{
font-size: 1.8em;
font-weight: 400;
letter-spacing: normal;
line-height: 27px;
text-align: center;}
.hs_section_con span {
color: #000;
	}
	/* second section content */
.hs_section_first{
	background:#fff;
	padding:10px 0px;
	}

	
.hs_section_left {
font-size: 15px;
padding-left: 5px;
}	
.hs_section_left h3 {
color: #FF943A;
font-size: 23px;
font-weight: bold;
line-height: 30px;
margin-top: 0px;
text-align: left;
margin-bottom: 20px;
}
.hs_section_left ul {
float: left;
width: 100%;
margin: 0px;
padding: 0px;
}
.hs_section_left ul li {
float: left;
width: 100%;
padding: 30px 0px 15px 45px;
position: relative;
font-size:17px;
list-style: none;
font-weight:bold;
}
.hs_section_left ul li:before {
content: '';
background-image: url(../images/greencheckmark.png);
width: 40px;
height: 30px;
line-height: 15px;
background-repeat: no-repeat;
position: absolute;
left: 0px;

}

.hs_section_right{
	margin-top:5px;
	}
.hs_section_ins{
text-align:center;
float: left;
width: 100%;
margin-bottom:20px;
margin-top:10px;
	}
.hs_section_ins h1 {
text-align: center;
float: left;
width: 100%;
	}
	
	
.hs_section_ins span {
color: #000;
text-align: center;
text-transform: capitalize;
width: 100%;
border-radius: 10px;
border: 2px solid #FFDB6E;
overflow: hidden;
background: #FFC003;
margin: 30px 0px 40px 0px;
padding: 12px 100px;
font-size: 28px;
}

/* second section content */	
.hs_section_second{
	background:#f1f1f1;
	padding:20px 0px 20px;
float: left;
width: 100%;
	}
.hs_section_two{
	padding:20px 0px;
	text-align:center;
	}
.hs_section_two h1 {
text-align: center;
float: left;
width: 100%;
	}
.hs_section_two span {
color: red;
text-align: center;
text-transform: uppercase;
width: 100%;
border-radius: 10px;
border: 2px solid #FFDB6E;
overflow: hidden;
background: #FFC003;
margin: 30px 0px 40px 0px;
padding: 10px 30px;
font-size: 37px;
font-weight:bold;
}
.hs_section_two h2 {
color: #000;
font-size: 34px;
font-weight: bold;
text-align: center;
text-transform: capitalize;
line-height: 42px;
float: left;
width: 100%;
	}
.hs_section_two h3 {
color: #c83300;
font-weight: bold;
/ text-decoration: underline; /
font-size: 28px;
text-align: center;
float: left;
width: 100%;
padding: 10px 0px;
position: relative;
margin: 20px 0px;
	}
.hs_section_two h3:after {
content: '';
position: absolute;
width: 60px;
height: 2px;
background: #000;
left: 50%;
top: 100%;
}
.hs_section_two p {
color: #444;
font-weight: 300;
font-size: 18px;
text-align: center;
float: left;
width: 100%;
}
.hs_section_two img{
	text-align:center;
padding:30px 0px;
}

	/* second section content */
/*.hs_section_fourth*/
.hs_product{
	background:#000;
float:left;
width:100%;
padding:15px 0px;
	}
.hs_prod {
padding: 30px 0px;
color: #fff;
font-size: 50px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;

	}
.hs_prod h1{
font-size: 62px;
font-weight: 600;
font-style: italic;
}
.hs_prod h3{
font-size: 32px;
}
.hs_prod span{
	color:#ff6600;
	}
.hs_section_three{
	background: #DBF5DA;
	padding:10px 0px;
float:left;
width:100%
	}
.hs_section_thr{
	padding:20px 0px 20px;
	text-align:center;
	font-size:0.7em;
	}
.hs_section_thr_icon{
	text-align:center;
color:#fff;
	}
.hs_section_thr_icon h3{
	padding: 2px 0px 15px;
	text-align:center;
color:#ccc;

	}
.hs_section_thr_icon p{
	padding: 10px 0px 25px;
	text-align:center;
color:#fff;
font-size: 1.4em;
font-weight: 400;
letter-spacing: normal;
line-height: 27px;
margin: 0 0 14px 0;
	}
.hs_section_thr h1{
	color:#000;
	text-align:center;
	text-transform:capitalize;
	}
.hs_section_thr span{
	color:#ff6600;
	text-align:center;
	text-transform:capitalize;
	}
.hs_section_thr h3{
color: #444;
font-weight: 300;
font-size: 18px;
text-align: center;
float: left;
width: 100%;
	}
.hs_section_thr p{
color: #444;
padding:30px;
float: left;
width: 100%;
}
/* second section content */
.hs_imgage_section_bg{
	background:#096540;
float:left;
width:100%;
padding:15px 0px;
	}
.hs_imgage_section{
background: #DBF5DA ;
float:left;
width:100%;

}
.hs_imgage_section_con_head {
color: #fff;
padding: 30px 0px;
font-size: 3.2em;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
font-weight:600;
	}
.hs_imgage_section_con {
color: #fff;
padding: 30px 0px;
font-size: 50px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
text-align:left;
	}
.hs_imgage_section_con ul {
float: left;
width: 100%;
margin: 0px;
padding: 0px;
padding: 15px 0px 15px 15px;
font-size: 20px;
color: #333 !important;
}
.hs_imgage_section_con ul li {
float: left;
width: 100%;
padding: 25px 0px 14px 64px;
position: relative;
font-size: 20px;
list-style: none;
}
.hs_imgage_section_con ul li:before {
content: '';
background-image: url(../images/greencheckmark.png);
width: 40px;
height: 30px;
line-height: 15px;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 27px;
}


/* second section content */
/* second section content */
.hs_imgage_section2_bg{
	background:#CA3020;
float:left;
width:100%;
padding:15px 0px;
	}
.hs_imgage_section2{
background: #FAEBEB;
float:left;
width:100%;

}
.hs_imgage_section_con_head1 {
color: #fff;
padding: 30px 0px;
font-size: 42px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
text-align:center;
	}
.hs_imgage_section_con1 {
color: #fff;
padding: 30px 0px;
font-size: 50px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
text-align:left;
	}
.hs_imgage_section_con1 ul {
float: left;
width: 100%;
margin: 0px;
padding: 0px;
padding: 15px 0px 15px 15px;
font-size: 20px;
color: #333 !important;
}
.hs_imgage_section_con1 ul li {
float: left;
width: 100%;
padding: 25px 0px 14px 64px;
position: relative;
font-size: 20px;
list-style: none;
}
.hs_imgage_section_con1 ul li:before {
content: '';
background-image: url(../images/redx.png);
width: 40px;
height: 30px;
line-height: 15px;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 27px;
}


/* second section content */
.hs_imgage_section3_bg{
	background:#000;
float:left;
width:100%;
padding:15px 0px;
	}
.hs_imgage_section3{
background: #fff;
float:left;
width:100%;

}
	/* second section content */
.hs_testimonial_bg{
	background:#990000;
float:left;
width:100%;
padding:15px 0px;
	}
.hs_testimonial {
color: #fff;
padding: 30px 0px;
font-size: 50px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
	}
.hs_blockquote{
background: #fff;
float:left;
width:100%;
padding: 30px 0px;
}
.hs_blockquote_con{
text-align:left !important;
background:#FAFCD2;
width:100%;
margin-top: 40px;
}
.hs_blockquote_con_name{
text-align:left !important;
width:100%;
float:left;
}
.hs_blockquote_con_name h6{
width:100%;
font-size: 14px;
font-weight: 600;
padding: 0px 26px;
text-align:left !important;
color:#111;
margin:0;
}
.hs_blockquote_con_name p{
text-align:left !important;
font-size: 12px;
padding: 0px 26px;

}
.hs_test_content p {
float: left;
width: 100%;
position: relative;
padding: 12px 36px 4px;
color: #333 !important;
font-family: Georgia, serif;
font-size: 1.2em;
line-height: 1.3;
}
.hs_test_content p:before {
content: "\f10d";
position: absolute;
width: 30px;
font: normal normal normal 14px/1 FontAwesome;
top: 0px;
left: 0px;
color: #666;
font-size: 20px;
}
.hs_test_content p:after {
content: "\f10e";
position: absolute;
width: 12px;
font: normal normal normal 14px/1 FontAwesome;
top: 70%;
right: 0%;
color: #666;
font-size: 20px;
}




.hs_imgage_section_con2 {
color: #fff;
padding: 30px 0px;
font-size: 50px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
text-align:left;
	}
.hs_imgage_section_con2 ul {
float: left;
width: 100%;
margin: 0px;
padding: 0px;
padding: 15px 0px 15px 15px;
font-size: 20px;
color: #333 !important;
}
.hs_imgage_section_con2 ul li {
float: left;
width: 100%;
padding: 6px 0px 2px 35px;
position: relative;
font-size: 18px;
list-style: none;
}
.hs_imgage_section_con2 ul li:before {
content: '';
background-image: url(../images/bullet.png);
width: 25px;
height: 15px;
line-height: 10px;
background-repeat: no-repeat;
position: absolute;
left: 0px;
top: 15px;
}



.hs_test_img {
float: left;
width: auto;
padding: 0px 15px;
}
.hs_prizes_bg {
background: #6d473d;
float: left;
width: 100%;
padding: 20px 0px;
	}
.hs_prizes {
color: #fff;
padding: 0;
font-size: 40px;
text-align: center;
float: left;
width: 100%;
line-height: 45px;
	}
.hs_bonus{
background:#ffffcc;
float: left;
width: 100%;
padding: 20px 0px 20px 0px;
	}
.hs_bonus_prize{
	width:100%;
	padding: 20px 0px 20px 0px;
	font-size:1em;
	}
.hs_bonus_prize h3{
	width:100%;
	font-size:20px;
	font-weight:bold;
line-height:30px;
float:left;
	}
.hs_bonus_prize p{
	width:100%;
	font-size:16px;
line-height:25px;
float:left;
	}
/*.hs_section_fourth*/
.hs_section_fourth{
	background:#fff;
	padding:10px;
	}
.hs_section_fourth_four{
	padding:10px;
	text-align:center;
	}
.hs_section_fourth h1{
	color:red;
	font-size:2em;
	text-align:center;
	}
.hs_section_fourth span{
	color:#000;
	text-align:center;
	text-transform:capitalize;
	}
.hs_section_fourth h2{
	color:#000;
	text-align:center;
	font-size:1.6em;
	text-transform:capitalize;
	}
.hs_section_fourth h3{
	color:#ff6600;
	font-size:22px;
	text-align:center;
	}
.hs_section_fourth p{
	color:#000;
	font-size:16px;
	text-align:center;
}
/*.hs_section_fourth*/
.hs_section_one{
	background:#000;
float:left;
width:100%;
padding:15px 0px;
margin-top:5px;
	}
.hs_features{
width:100%;
float:left;
margin:0;
padding:30px 0px;}
.hs_section_five{
	background:#fff;
	padding:20px 0px 20px;
float:left;
width:100%;
	}
.hs_section_five_fi {
padding: 0px 0px 10px;
float: left;
width: 80%;
	}
.hs_section_five_fi_icon {
background: transparent;
width: 50px;
height: 50px;
float: left;
font-size: 30px;
color:#16597a;
	}
.hs_section_five_fi h4 {
color: #0e0e0e;
float: left;
width: 100%;
font-size: 1.4em;
font-weight: 400;
letter-spacing: normal;
margin: 0;
	}
.hs_section_five_fi h4 span {
width: 50px;
display: block;
float: left;
font-size: 54px;
line-height: 46px;
margin: 0px 5px 0 0;
color:#fff;
}
.hs_section_five_fi span{
	color:#000;
	text-align:center;
	text-transform:capitalize;
	}
.hs_section_five_fi p {
color: #0e0e0e;
font-size: 14px;
float: left;
width: 100%;
}
.hs_hr{
background-image: -webkit-linear-gradient(left, transparent, rgba(0, 0, 0, 0.2), transparent);
/* background-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.2), transparent); */
border: 0;
height: 1px;
margin-bottom:5px;
}


/*.hs_section_fourth*/
.hs_section_one-click{
	background:#16597a ;
float:left;
width:100%;
padding:10px 0px;
	}
.hs_imgage_section_con_head {
color: #fff;
padding: 30px 0px;
font-size: 41px;
text-align: center;
float: left;
width: 100%;
line-height: 30px;
text-align:center;
	}

.hs_one_click{
float:left;
width:100%;
	}
	
	
.centerimg img{
	margin-left: auto;
	 margin-right: auto;
	 display: block;
	 margin-top:40px;
}
	
.hs_one_click h2{
font-weight: 600;
padding: 10px 0px;
font-size:24px;
	}
.hs_one_click h3{

font-weight: 600;
padding: 5px 0px;
text-align: center;
font-size: 3.2em;
line-height: 44px;
margin: 0 0 22px 0;
text-align: center;
	}
.hs_one_click h4{
float:left;
font-weight: 600;
padding: 10px 0px;
color:#16597A;
	}
.hs_one_click p{
font-size: 18px;
font-weight: 400;
color: #444;
padding: 10px 0px;
	}
.one-click_img{
padding:20px 0px;
text-align:right;
	}
.hs_section_navig{
float:left;
width:100%;
	}
.hs_section_navig h2{
float:left;
font-weight: 600;
padding: 10px 0px;
	}
.hs_section_navig p{
float: left;
font-size: 18px;
font-weight: 400;
color: #444;
padding: 10px 0px;
	}
.hs_section_navig_img{
text-align:right;

	}
.hs_section_facebook{
padding: 20px 0px;
	}

.hs_facebook {
color: #000;
float:left;
width:100%;
}
.hs_facebook h2{
font-size: 2.6em;
font-weight: 400;
text-align: center;
line-height: 42px;
margin: 0 0 5px 0;
}
.hs_facebook_img{
padding:30px 0px;
}

.hs_dark_gray_section {
background-color: #D9D9D9 !important;
float: left;
width: 100%;
padding: 30px 0px 12px 0px;
}
.hs_dark_gray-section {
text-align: center;
/* padding: 50px 0px 50px; */
float: left;
width: 100%;
}
.hs_dark_gray-section h1 {
color: #222;
font-size: 3.2em;
line-height: 44px;
margin: 0 0 22px 0;
text-align: center;
float:left;
width:100%;
}
.hs_dark_gray-section h2 {
font-size: 2.6em;
font-weight: 400;
text-align: center;
line-height: 42px;
margin: 0 0 0px 0;
float:left;
width:100%;
}
.hs_dark_gray-section h2:last-child{
margin: 0 0 32px 0;
}
/**new css**/
.hs_padder_bottom_5{
padding-bottom:5px;
}
.hs_padder_bottom_15{
padding-bottom:15px;
}
.hs_padder_bottom_25{
padding-bottom:25px;
}
.hs_padder_bottom_35{
padding-bottom:35px;
}
.hs_padder_bottom_45{
padding-bottom:45px;
}
.hs_padder_top_5{
padding-top:5px;
}
.hs_padder_top_15{
padding-top:15px;
}
.hs_padder_top_25{
padding-top:25px;
}
.hs_padder_top_35{
padding-top:35px;
}
.hs_padder_top_45{
padding-top:45px;
}
.hs_margin_top_0{
margin-top:0px !important;
}
.hs_margin_bottom_0{
margin-bottom:0px !important;
}
.hs_margin_bottom_1{
margin-bottom:20px !important;
}
.hs_section_ins {
text-align: center;
float: left;
width: 100%;
}
.hs_section_ins h1 {
text-align: center;
float: left;
width: 100%;
}

.otogreen1{
	margin-top:0px; padding-top:20px; width:70%
}

.hs_section_ins span {
color: #000;
text-align: center;
text-transform: capitalize;
width: 100%;
border-radius: 10px;
border: 2px solid #FFDB6E;
overflow: hidden;
background: #FFC003;
margin: 30px 0px 40px 0px;
padding: 12px 100px;
font-size: 28px;
}



.hs_white_section {
background-color: #FFF !important;
color: #000;
width: 100%;
}

.hs_white_section2 {
background-color: #FFF !important;
color: #000;
width: 80%;
margin:auto;
}

.hs_center_div {
float: left;
width: 100%;
text-align:center;
}
.hs_center_div h3 {
font-size: 1.8em;
font-weight: 400;
letter-spacing: normal;
line-height: 27px;
margin: 34px 0 24px 0;
text-align: center;
float: left;
width: 100%;
color: #000;
}
.hs_center_div h2 {
font-size: 2.6em;
font-weight: 400;
text-align: center;
line-height: 42px;
margin: 0 0 32px 0;
}
.hs_difference_div {
float: left;
width: 100%;
padding-bottom: 30px;
}
.hs_difference_div .hs_difference_heading {
float: right;
width: 30%;
font-weight: bold;
padding: 10px 0px;
margin-left: 1px;
border-radius: 10px 10px 0px 0px;
color: #fff;
font-size: 17px;
}
.hs_difference_heading_green{
background: #5a8c1d;
background: -moz-linear-gradient(top, #5a8c1d 0%, #4b7619 50%, #476f18 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a8c1d), color-stop(50%,#4b7619), color-stop(100%,#476f18));
background: -webkit-linear-gradient(top, #5a8c1d 0%,#4b7619 50%,#476f18 100%);
background: -o-linear-gradient(top, #5a8c1d 0%,#4b7619 50%,#476f18 100%);
background: -ms-linear-gradient(top, #5a8c1d 0%,#4b7619 50%,#476f18 100%);
background: linear-gradient(to bottom, #5a8c1d 0%,#4b7619 50%,#476f18 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5a8c1d', endColorstr='#476f18',GradientType=0 );
}
.hs_difference_heading_brown{
background: #cf6800;
background: -moz-linear-gradient(top, #cf6800 0%, #b25900 50%, #a45200 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cf6800), color-stop(50%,#b25900), color-stop(100%,#a45200));
background: -webkit-linear-gradient(top, #cf6800 0%,#b25900 50%,#a45200 100%);
background: -o-linear-gradient(top, #cf6800 0%,#b25900 50%,#a45200 100%);
background: -ms-linear-gradient(top, #cf6800 0%,#b25900 50%,#a45200 100%);
background: linear-gradient(to bottom, #cf6800 0%,#b25900 50%,#a45200 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cf6800', endColorstr='#a45200',GradientType=0 );
}
.hs_difference_div table {
float: left;
width: 100%;
text-align: center;
border-top: 1px solid #ccc;
}
.hs_difference_div table tr {
width: 100%;
border-spacing: 0px;
}
.hs_difference_div table tr td {
width: 33%;
border-bottom: 1px solid #cccccc;
border-right: 1px solid #fff;
border-spacing: 0px;
padding: 7px 0px;
color: #313131;
text-shadow: 1px 1px 1px #fff;
font-size: 15px;
font-weight: 600;
}
.hs_difference_div table tr:nth-child(odd) {
background: #f6f6f6;
}
.hs_difference_div table tr:nth-child(even) {
background: #efefef;
}
.hs_difference_div table tr td:first-child {
text-align: left;
padding-left: 20px;
}
#hs_counter2{
padding: 20px 0px;
float: left;
width: 100%;
}
.hs_counter_section .hs_count_inner {
float: left;
text-align: center;
color: #555;
display: block;
font-size: 1.3em;
margin-right: 14px;
}
.hs_counter_section .hs_count_inner:first-child{
width: 36%;
}
.hs_counter_section .hs_count_inner:nth-child(2){
width: 19%;
}
.hs_counter_section .hs_count_inner:nth-child(3){
width: 19%;
}
.hs_counter_section .hs_count_inner:last-child{
width: 18%;
margin-right: 0px;
}
.hs_gray_section {
background-color: #f6f6f6 !important;
margin: 0px;
padding: 40px 0px 30px 0px;
color: #000;
float: left;
width: 100%;
}
.hs_gray_section h2 {
font-size: 24px;
font-weight: 600;
line-height: 42px;
margin: 0 0 32px 0;
}



.hs_faq {
float: left;
width: 100%;
padding: 25px 10px 0px;
}
.hs_faq_ques {
float: left;
width: 100%;
font-weight: 600;
font-size: 18px;
color: #444;
line-height: 1.4;
}
.hs_faq p {
float: left;
width: 100%;
font-size: 18px;
font-weight: 400;
color: #444;
line-height: 1.4;
margin: 0px;
}

.hs_footer{
background: #000;
width: 100%;
padding: 30px 0px;
float: left;
}
.hs_footer_pera {
float: left;
width: 100%;
padding-bottom: 20px;
border-bottom: 1px solid #eee;
margin-bottom: 25px;
font-size:12px;
}
.hs_footer_pera p {
font-size: 0.85em;
color: #888;
padding-bottom: 10px;
line-height: 24px;
}
.hs_fot_con{
float:left;
width:100%;
margin-bottom: 25px;
}
.hs_fot_con h4 {
color: #fff;
font-size: 23px;
font-weight: 500;
}
.hs_fot_con p {
margin: 0px;
color: #666;
font-size: 0.9em;
}
.footer_inner {
float: right;
width: auto;
margin: 0px;
margin-bottom: 25px;
}
.footer_inner ul {
float: left;
width: 100%;
margin: 0px;
padding: 0px;
}
.footer_inner ul li {
border-left: 1px solid #505050;
display: inline-block;
line-height: 12px;
margin: 20px 0 0 0;
padding: 0 5px 0 7px;
}
.footer_inner ul li:first-child{
border-left:none;
}
.footer_inner ul li a {
float: left;
color: #fff;
font-size: 12px;
font-weight: 100;
text-decoration: none;
position: relative;
}
.footer_inner ul li a:hover{
color:#fff;
text-decoration:underline;
}
.hs_author_say {
float: left;
width: 100%;
background-color: #16597a !important;
border-color: #124964 !important;
margin: 0px;
padding: 30px 0px 12px 0px;
color: #FFF;
padding-top: 0px !important;
background-image: url(../images/white_strip.png);
background-repeat: no-repeat;
background-position: top center;
}
.hs_author_say_div {
float: left;
width: 100%;
padding: 20px 0px;
}
.hs_author_say_div h2 {
font-size: 41px;
padding-bottom: 30px;
float: left;
width: 100%;
}
.hs_author_say_div p {
float: left;
width: 100%;
font-size: 18px;
margin-bottom: 30px;
}
.hs_author_sign {
float: left;
font-family: 'Arizonia', cursive;
font-size: 40px;
}

                          /** Media css **/
@media (max-width:1199px) { 


.hs_one_click{
	width:80%;
}

.fb_iframe_widget_fluid{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget_fluid span{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget iframe{
float: left !important;
width: 100% !important;
}
.bigger img{
max-width: 100%; height: auto;
}
.order_prices{
	margin-top:15px;margin-left:0px;margin-right:0px;
}

.priceregulr{
    border: 2px solid #999;
    margin-top: 20px;
    width: 100%;
	padding-top: 0;
}
.pricepopular {
    border: 2px solid #ac282b;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
.centerimg{
	display:none;
}
}
@media (min-width:768px) and (max-width:991px) { 
.frontprice img{
	height: 80px  !important;
}
.frontprice .pricepopular_single{
	width:100%;
}
.priceleft{
	border-right:2px solid #999;
	margin:0px;
	width:100%;
}
.hs_prod{
line-height: 45px;
}
.bigger img{
max-width: 100%; height: auto;
}
.hs_section_two h3{
font-size: 20px;
}
.hs_test_img{
text-align: center;
width: 100%;
}
.hs_blockquote_con{
border-bottom:2px solid #333;
}
.fb_iframe_widget_fluid{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget_fluid span{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget iframe{
float: left !important;
width: 100% !important;
}
.order_prices{
	margin-top:15px;margin-left:0px;margin-right:0px;
}

.priceregulr{
    border: 2px solid #999;
    margin-top: 20px;
    width: 100%;
	padding-top: 0;
}
.pricepopular {
    border: 2px solid #ac282b;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
.centerimg{
	display:none;
}
}
@media (min-width: 766px) and (max-width:902px) {
	.frontprice img{
	height: 80px  !important;
}
.frontprice .pricepopular_single{
	width:100%;
}
.priceleft{
	border-right:2px solid #999;
	margin:0px;
	width:100%;
}
.hs_imgage_section_con_head{
line-height: 45px;
padding: 0px 0px;
}
.bigger img{
max-width: 100%; height: auto;
}
.hs_section_ins span{
float: left;
margin: 0px 0px 0px 0px;
}
.fb_iframe_widget_fluid{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget_fluid span{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget iframe{
float: left !important;
width: 100% !important;
}
.order_prices{
	margin-top:15px;margin-left:0px;margin-right:0px;
}

.priceregulr{
    border: 2px solid #999;
    margin-top: 20px;
    width: 100%;
	padding-top: 0;
}
.pricepopular {
    border: 2px solid #ac282b;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
.centerimg{
	display:none;
}
.pricepopular_single{
    border: 2px solid #f60;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
} 

@media (min-width: 480px) and (max-width:767px) { 
.counter_clock{
	display:none;
}
.frontprice img{
	height: 80px  !important;
}
.frontprice .pricepopular_single{
	width:100%;
}
.priceleft{
	border-right:2px solid #999;
	margin:0px;
	width:100%;
	
}
.hs_section_two span{
word-wrap: break-word;
float: left;
}
.hs_section_two h3:after{
display:none;
}
.hs_prod{
line-height: 50px;
}
.bigger img{
max-width: 100%; height: auto;
}
.hs_test_img{
text-align: center;
width: 100%;
}
.hs_section_ins span{
float: left;
padding: 12px 0px;
}
.hs_blockquote_con{
border-bottom:2px solid #333;
}
.hs_faq{
line-height: 50px;
}
.hs_testimonial{
line-height: 45px;
}
.hs_imgage_section_con_head{
line-height: 40px;
padding: 12px 0px;
}
.flip-clock-wrapper ul{
width: 34% !important;
}
.flip-clock-divider1{
height: 150px !important;
}
.flip-clock-divider.days .flip-clock-label {
right: -232px !important;
top: 3.5em !important;
}
.flip-clock-divider.hours .flip-clock-label {
right: 166px !important;
top: 8.8em !important;
}
.flip-clock-divider.minutes .flip-clock-label {
right: 141px !important;
top: 8.5em !important;
}
.flip-clock-divider.seconds .flip-clock-label {
right: 145px !important;
top: 8.5em !important;
}
.flip-clock-divider {
height: 141px !important;
}
.fb_iframe_widget_fluid{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget_fluid span{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget iframe{
float: left !important;
width: 100% !important;
}

.order_prices{
	margin-top:15px;margin-left:0px;margin-right:0px;
}

.priceregulr{
    border: 2px solid #999;
    margin-top: 20px;
    width: 100%;
	padding-top: 0;
}
.pricepopular {
    border: 2px solid #ac282b;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
.centerimg{
	display:none;
}
.otogreen1{
	margin-left:10px;
	width:100%;
}
.pricepopular_single{
    border: 2px solid #f60;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
.dwhead img{
max-width: 100%; height: auto;
}
}


.moneyback{
	border:2px solid #C00; margin:50px; padding:50px;box-shadow: 10px 10px 5px #888888;border-radius: 25px;
}

/* Landscape phones and down */
@media (max-width: 479px) {

.orderhead{
	font-size:25px;
	font-weight:bold;
	margin-left:0px !important;
		margin-right:0px !important;
		margin-bottom:3px !important;

}


.frontprice .pricepopular_single{
	width:100%;
}

.frontprice img{
	height: 80px  !important;
}

.oto3 img{
	height: 80px  !important;
}
	
	
.centerimg{
	display:none;
}

.otogreen1{
	margin:0px;
	width:100%;
}
	
.order_prices{
	margin-top:15px;margin-left:0px;margin-right:0px;
}

.priceleft{
	border-right:2px solid #999;
	margin:0px;
	
}

.priceregulr_single{
	width:100%;
}

.priceregulr{
    border: 2px solid #999;
    margin-top: 20px;
    width: 100%;
	padding-top: 0;
}
.pricepopular {
    border: 2px solid #ac282b;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	

.pricepopular_single{
    border: 2px solid #f60;
    margin-top: 20px;
    width: 100%;
	 padding-top: 0;
}	
	
.moneyback{
	border:2px solid #C00; margin:0px; padding:10px;box-shadow: 10px 10px 5px #888888;border-radius: 15px;
}
	
.hs_logo{
line-height: 41px;

}
.hs_logo img{
	height: 41px  !important;
}

.counter_clock{
	display:none;
}
.bigger img{
max-width: 100%; height: auto;
}
.dwhead img{
max-width: 100%; height: auto;
}
.pricepopular_single img{
max-width: 100%; height: auto;
}

.hs_section h1{
	font-size:60%;
	line-height: normal;
}

.fefeatures img{
	display:none;

}

.footer_inner {
float: left;
width: 100%;
margin: 0px;
}
.hs_section_two span{
word-wrap: break-word;
float: left;
}
.hs_testimonial{
word-wrap: break-word;
line-height: 45px;
}
.hs_prod{
word-wrap: break-word;
line-height: 45px;
}
.hs_test_img{
text-align: center;
width: 100%;
}
.hs_blockquote_con{
border-bottom:2px solid #333;
}
.hs_faq{
line-height: 50px;
}
.hs_section_two h3:after{
display:none;
}
.hs_imgage_section_con_head{
line-height: 45px;
padding: 12px 0px;
}
.hs_section_ins span{
float: left;
padding: 12px 0px;
}
.hs_one_click h4{
line-height: 25px;

}
.flip-clock-wrapper ul{
width: 34% !important;
}
.flip-clock-divider1{
height: 150px !important;
}
.flip-clock-divider.days .flip-clock-label {
right: -96px  !important;
top: 3.5em !important;
}
.flip-clock-divider.hours .flip-clock-label {
right: 50px  !important;
top: 8.8em !important;
}
.flip-clock-divider.minutes .flip-clock-label {
right: 26px !important;
top: 8.5em !important;
}
.flip-clock-divider.seconds .flip-clock-label {
right: 26px !important;
top: 8.5em !important;
}
.flip-clock-divider {
height: 141px !important;
}
.fb_iframe_widget_fluid{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget_fluid span{
float: left !important;
width: 100% !important;
}
.fb_iframe_widget iframe{
float: left !important;
width: 100% !important;
}
}

h5{
font-size: 80px;	
}	